* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid gray;
}

.modal-container {
    position: relative;
}

.modal-title {
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.modal-title img {
    padding-left: 30px;
    width: 200px;
    height: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.modal-title .mid {
    display: flex;
}

.modal-title .topselect1 {
    color: #231652;
    font-size: 15px;
    border: solid transparent;

}

.modal-title .topselect1 select {
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal-title .topselect2 {
    color: #231652;
    font-size: 15px;
    border: solid transparent;
}

.modal-content {
    position: relative;
    justify-content: center;
}

.modal-content .anh-nen img {
    z-index: 1;
}

.modal-content .anh-nen {
    height: 578px;
    width: 1441px;
}

.modal-content .text-title1 {
    color: #231652;
    z-index: 2;
    position: absolute;
    top: 50px;
    left: 100px;
}

.modal-content .text-title2 {
    color: #231652;
    z-index: 2;
    position: absolute;
    top: 100px;
    left: 100px;
}

.modal-content .tu-van {
    width: 131px;
    height: 42px;
    color: white;
    background-color: #bc2228;
    border-radius: 5px;
    z-index: 2;
    position: absolute;
    top: 250px;
    left: 100px;
}

.modal-content .kiem-tra-do-phu-hop {
    color: #231652;
    border: 1.5px solid #d8d9e3;
    border-radius: 5px;
    width: 175px;
    height: 42px;
    z-index: 2;
    position: absolute;
    top: 250px;
    left: 300px;
}

.modal-content a {
    text-align: center;
    padding: 10px;

}


.modal-container .anh-title img {
    width: auto;
    height: 577px;
    z-index: 2;
    position: absolute;
    top: 0;
    right: 135px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    position: absolute;
    bottom: 78px;
    left: 47px;
    z-index: 2;
}

.footer1 {
    background-color: white;
    border: 1px solid #e1dee9;
    width: 250px;
    height: 120px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}

.footer2 {
    color: red;

}

.footer2 h3 {
    text-align: center;
}

.footer3 {
    color: #231652;
}

.footer3 h4 {
    text-align: center;
}